.sectionCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    flex-wrap: wrap;
    overflow: hidden;
    object-fit: center;
    margin-bottom: 40px;
    padding: 25px 15px;
}
.graphicBox {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.illustration {
    position: relative;
    z-index: 50;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}
.sectionInfo {
    padding: 40px 35px;
    width: 500px;
}
.sectionCard h1 {
    font-size: 4.5em;
    font-family: 'Alata';
    text-align: center;
}
h1.animated {
    animation: appear 2s;
    -webkit-animation: appear 2s;
    -moz-animation: appear 2s;
}
.sectionCard p {
    font-size: 2.5em;
    font-weight: 300;
}
p.animated {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: fadeIn;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 2s;
    -moz-animation-fill-mode: forwards;

}
.sectionCard button {
    color: #f1f1f1;
    outline: none;
    border: none;
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 10px 35px;
    font-size: 1.2em;
    border-radius: 50px;
    background-color: #0080ff;
    transition: 200ms ease-out;
    -webkit-transition: 200ms ease-out;
    margin-bottom: 0;
    position: relative;
}
button.animated {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: fadeIn;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 2s;
    -moz-animation-fill-mode: forwards;

}
.sectionCard button:hover {
    background-color: #0a001a;
    transform: scale(1.02, 1.02);
    cursor: pointer;
}
.cloud {
    position: relative;
    z-index: 4;
    width: 300px;
    height: 150px;
    background: url('./cloud.png');
    opacity: 0.3;
    animation-name: float;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    -webkit-animation-name: float;
    -webkit-animation-duration: 25s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate-reverse;
    -moz-animation-name: float;
    -moz-animation-duration: 25s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate-reverse;

    top: 65px;
}
.cloudSection {
    position: absolute;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.partnersSection {
    width: 100%;
    padding: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f1f1f1;
}
.partnersSection h1 {
    padding: 15px;
}

.partnerBox {
    text-align: center;
    padding: 15px;
    width: 250px;
    color: #0a001a;
}
.partnerBox img {
    max-width: 180px;
}
.partnerBox p {
    font-size: 1.2em;
}
.contactInfo {
    padding: 15px;
    margin-bottom: 20px;
}
.contactInfo p{
    font-size: 1.2em;
}
.contactIcon {
    filter: invert(100%);
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
@keyframes float {
    0% { margin-left: -50%; }
    100% { margin-left: 100%; }
}
@-webkit-keyframes float {
    0% { margin-left: -50%; }
    100% { margin-left: 100%; }
}
@-moz-keyframes float {
    0% { margin-left: -50%; }
    100% { margin-left: 100%; }
}

@keyframes appear {
    0% { opacity: 0; transform: translateX(-70%)}
    100% { opacity: 1; transform: translateX(0%)}
}
@-webkit-keyframes appear {
    0% { opacity: 0; transform: translateX(-70%)}
    100% { opacity: 1; transform: translateX(0%)}
}
@-moz-keyframes appear {
    0% { opacity: 0; transform: translateX(-70%)}
    100% { opacity: 1; transform: translateX(0%)}
}

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}
@-moz-keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}
