.sectionCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Montserrat';
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 40px;
    padding: 25px;
}
.graphicBox {
    width: 600px;
    position: relative;
}
.illustration {
    position: relative;
    z-index: 50;
    width: 100%;
    max-width: 550px;
    max-height: 550px;
    padding: 40px;
    margin: 0px 20px;
}
.sectionInfo {
    padding: 40px 35px;
    width: 650px;
}
.sectionCard h1 {
    font-size: 4.5em;
    font-family: 'Alata';
}
h1.animated {
    animation-name: appear;
    animation-duration: 2s;
}
.sectionCard p {
    font-size: 2.5em;
    font-weight: 300;
}
p.animated {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.sectionCard button {
    color: #f1f1f1;
    outline: none;
    border: none;
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 10px 35px;
    font-size: 1.2em;
    border-radius: 50px;
    background-color: #0080ff;
    transition: 200ms ease-out;
    margin-bottom: 0;
    position: relative;
}
button.animated {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.sectionCard button:hover {
    background-color: #0a001a;
    transform: scale(1.02, 1.02);
    transition: 250ms ease-in-out;
    cursor: pointer;
}
.cloud {
    position: absolute;
    z-index: 4;
    width: 300px;
    height: 150px;
    background: url('./cloud.png');
    opacity: 0.3;
    animation-name: float;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    top: 65px;
}
.cloudSection {
    position: absolute;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.partnersSection {
    width: 100%;
    padding: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f1f1f1;
}
.partnersSection h1 {
    padding: 15px;
}

.partnerBox {
    text-align: center;
    padding: 15px;
    width: 250px;
    color: #0a001a;
}
.partnerBox img {
    max-width: 180px;
}
.partnerBox p {
    font-size: 1.2em;
}
.contactInfo {
    padding: 15px;
    margin-bottom: 20px;
}
.contactInfo p{
    font-size: 1.2em;
}
.contactIcon {
    filter: invert(100%);
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
@keyframes float {
    0% {
        margin-left: -50%;
    }
    100% {
        margin-left: 100%;
    }
}
@keyframes float2 {
    from { transform: translateX(-70%) }
    to { transform: translateX(0%) }
}
@keyframes appear {
    0% { opacity: 0; transform: translateX(-70%)}
    100% { opacity: 1; transform: translateX(0%)}
}
@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}
